<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Create Virtual Machine
            </button>
            </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="col-md-3 offset-md-5">
                <div class = "formcontainer">
                    <div class = "formbody">
                    <form>
                        <div class="form-group">
                            <div>
                                <label for="vmnamefield">VM Name<sup>*</sup></label>
                                <input type="text" class="form-control" id="vmname_create" name="vmnameField_create" 
                                placeholder="Enter VM Name" [(ngModel)] = "vm_name" required/>
                            </div>
                            <div class = "radiobuttons">
                                <input class="form-check-input" type="radio" name="radio_name" id="basicradio_id" 
                                    value="basic" [(ngModel)] = "plan" checked = "checked">
                                <label class="form-check-label" for="exampleRadios1">Basic</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                                <input class="form-check-input" type="radio" name="radio_name" id="largeradio_id" 
                                    value="large" [(ngModel)] = "plan">
                                <label class="form-check-label" for="exampleRadios2">Large</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                                <input class="form-check-input" type="radio" name="radio_name" id="ultraradio_id" 
                                    value="ultra" [(ngModel)] = "plan">
                                <label class="form-check-label" for="exampleRadios3">Ultra</label>
                            </div>
                            <div class = "actionbutton">
                                <button type="button" class="btn btn-primary" (click)="createVM()">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              List of Virtual Machines
            </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">VM Name</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Price of plan</th>
                        <th scope="col">Status</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                        <th scope="col" style = "padding-left:65px">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let machine of vmachines; let i=index">
                        <td scope="row">{{i+1}}</td>
                        <td>{{machine.vm_name}}</td>
                        <td>{{machine.plan}}</td>
                        <td>{{machine.price}}</td>
                        <td><span *ngIf = "machine.start_ind">Started</span><span *ngIf = "!machine.start_ind">Stopped</span></td>
                        <td>{{machine.duration}}</td>
                        <td>{{machine.cost}}</td>
                        <td>
                            <span><button class="btn btn-secondary" (click) = "startVM(machine.vm_name)">▷</button></span>
                            <span><button class="btn btn-secondary" (click) = "stopVM(machine.vm_name)">□</button></span>
                            <span><button class="btn btn-secondary" (click) = "upgradeVM(machine.vm_name,machine.plan)">↑</button></span>
                            <span><button class="btn btn-secondary" (click) = "downgradeVM(machine.vm_name,machine.plan)">↓</button></span>
                            <span><button class="btn btn-secondary" (click) = "deleteVM(machine.vm_name)">x</button></span>
                        </td>
                        <td><span *ngIf = "!machine.start_ind"><button type="button" class="btn btn-block btn-primary waves-effect" data-toggle="modal" data-target="#myModal" (click) = "calFare(machine.vm_name)">Fare</button></span></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Message</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Total Usage of this VM is {{usagePeriod}} min and price is ${{price}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> 
      </div>
    </div>
  </div>
    
</div>



