<h1 class="display-4">Hello!</h1>
  <h2>Welcome to the Cloud Foundary</h2>
  <hr class="my-4">
  <div class = info>
      <div class = info1><p>SPRK provides online cloud platform to companies, goverment and 
            individual on paid subscription basis.This technology allows subscibers 
            to have many clusters of computers at their disposal which are 
            available all the time via internet.</p>
      </div> 
      <div class = info1><p>SPRK includes attributes of computers like CPU and GPU for processing,
            memory and harddisk and ssd storage.In addition to this choice of 
            operating systems,preloaded application software(such as DBMS) and networking.</p>
      </div> 
      <div class = info1><p>The browser acts as a window into the virtual computers which allows subscriber 
          to log in and configures the virtual servers just as they might have done in case 
          of real physical computer.They can then choose to deploy their cloud system to provide 
          internet based services for themself and their customers.</p>
      </div>
    
  </div>
  <p class="lead">
    <a class="btn btn-primary btn" routerLink="/plans" role="button">View Plans</a>
  </p>

