
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-lighter">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" routerLink="/">
        <strong>SPRK</strong>
      </a>
      

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/plans">Plans
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/vms">VMs</a>
          </li>
        </ul>
        
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item active">
            <a class="nav-link border border-light rounded" (click) = "logout()">
              <i class="fas fa-user mr-2"></i>Sign Out
            </a>
          </li>
        </ul>
      </div>
      

    </div>
  </nav>
  <!-- Navbar -->

  <div class = "jumbotron">
   <router-outlet></router-outlet>
  </div>



