
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark mdb-color darken-3">
    <div class="container">

      <!-- Brand -->
      

      <!-- Collapse -->
      

      <!-- Links -->
      

    </div>
  </nav>
  <!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container">

      <h3 class="my-5 h3 text-center">Our pricing plans</h3>

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-8 text-center">

          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo qui laboriosam nihil
            reiciendis fugit eius nostrum
            ipsum odio, voluptate debitis laborum perspiciatis voluptatibus? Culpa expedita rem totam eos fugit atque!</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row text-center wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <h4>
                <strong>Basic</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <h3 class="card-title pricing-card-title mb-4">5¢
                <small class="text-muted">/ min</small>
              </h3>

              <ol class="list-unstyled mb-4">
                <li>8 virtual processor cores
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>16 GB of virtual RAM
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>20 GB of storage space
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <!--<hr>
                <li>Price: 5 cents/minute
                  <i class="fas fa-check green-text ml-1"></i>
                </li>-->
              </ol>

              <button type="button" class="btn btn-lg btn-block btn-outline-primary waves-effect">Continue</button>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <h4>
                <strong>Large</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <h3 class="card-title pricing-card-title mb-4">10¢
                <small class="text-muted">/ min</small>
              </h3>

              <ol class="list-unstyled mb-4">
                <li>32 virtual processor cores
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>64 GB of virtual RAM
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>20 GB of storage space
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <!--<hr>
                <li>Help center access
                  <i class="fas fa-check green-text ml-1"></i>
                </li>-->
              </ol>

              <button type="button" class="btn btn-lg btn-block btn-primary">Proceed</button>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <h4>
                <strong>Ultra</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <h3 class="card-title pricing-card-title mb-4">15¢
                <small class="text-muted">/ min</small>
              </h3>

              <ol class="list-unstyled mb-4">
                <li>128 virtual processor cores
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>512 GB of virtual RAM
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>40 GB of storage space
                  <i class="fas fa-check green-text ml-1"></i>
                </li>
               <!-- <hr>
                <li>Help center access
                  <i class="fas fa-check green-text ml-1"></i>
                </li>-->
              </ol>

              <button type="button" class="btn btn-lg btn-block btn-primary waves-effect">Get started</button>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-5 wow fadeIn">

    <hr class="my-4">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

